
<button class='button-submit' style="background: blue; color: white; border-radius: 4px; border-color:blue; position: absolute;" [routerLink]="['pokemon']">
           
    All pokemons
    
    </button>


    <h2 style= "margin-top:0px; position: relative; top: 30px;">

        {{name}}
    </h2>   

<div style="width: 140px; position:absolute">  

<ul style="margin-top: 27px;">
    <li 
    *ngFor="let habilidad of abilities"
   >
        {{habilidad.ability.name}}

    </li>

</ul>

</div>

<div style="width: 140px; position: absolute; left: 120px;">

    <img src={{image}} alt="Foto Pokemon" style="left:5% ; position: relative; width: 90px;height: 90px">

</div>